


<div>
    
    <div class="profile">
        <img src="https://previews.123rf.com/images/vectorgalaxy/vectorgalaxy1804/vectorgalaxy180401360/98907165-diy-logo-isolated-on-white-background-for-your-web-mobile-and-app-design.jpg" alt="no image">
        <h3>Sales</h3>
        <h4>sales123@gmail.com</h4>
        
    </div>
    <mat-divider></mat-divider>

    <h2>Sales</h2>
    <div class="sales">
        <a routerLink=""><mat-icon>dashboard</mat-icon> Dashboard</a>
        <a routerLink="orders"><mat-icon>shopping_cart</mat-icon> Orders</a>
        <a routerLink="customers"><mat-icon>group2</mat-icon> Customers</a>
        <a routerLink="products"><mat-icon>shopingbag</mat-icon>Products</a>

        <mat-divider></mat-divider>

        <h2>Tools</h2>
        <div class="sales">
            <a routerLink="contact"><mat-icon>contacts</mat-icon>Contact</a>
            <a routerLink="leads"><mat-icon>leaderboard</mat-icon>Leads</a>



        </div>




    </div>

</div>
