<!-- card -->
<h4>Dashboard </h4>
<div class="card">
    <!-- card 1 -->
    <mat-card>
     <app-card
      bg="red"
      icon="dataset"
      description="$9,465"
      count="Total Sales">
    </app-card>

    </mat-card>

    <!-- card 2 -->
    <mat-card>
        <app-card
        bg="orange"
        icon="local_atm"
        description="$465"
        count="Average Order Value">
    </app-card>
   
       </mat-card>

       <!-- card 3 -->
    <mat-card>
        <app-card
        bg="blue"
        icon="shopping_cart"
        description="243"
        count="Total Orders">

        </app-card>
   
       </mat-card>

       <!-- card 4 -->
    <mat-card>
        <app-card 
        bg="green"
        icon="account_box"
        description="35"
        count="Returning">

        </app-card>
   
       </mat-card>

</div>

<!-- area chart -->
<div class="area">
    <app-area-chart></app-area-chart>
</div>

<!-- table and pie chart -->
<div class="tablepie">
    <!-- table -->
    <div>
        <app-table></app-table>
    </div>

    <!-- piechart -->
    <div>
        <app-pie-chart></app-pie-chart>
    </div>
</div>

<div class="line-chart">
<!-- linechart -->
<div>
    <app-linechart></app-linechart>
</div>


<!-- spliderchart -->

<div>
    <app-spiderweb></app-spiderweb>
</div>
</div>